.second > div {
  width: 52.083333333333336vw;
}
.second > div .introduceSelf {
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.second > div .introduceSelf:first-child {
  padding-left: 8%;
}
.second > div .introduceSelf:nth-child(2) {
  padding-left: 5%;
  border-left: 1px solid #333;
}
.second > div .introduceSelf p {
  word-spacing: -0.5ch;
  line-height: 1.822916666666667vw;
}
h1 span {
  color: #f00;
}
a *:hover {
  color: #777;
}
