.second > div {
  width: 72.91666666666666vw;
}
.second > div .introduceSelf {
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.second > div .introduceSelf:first-child {
  padding-right: 0%;
}
.second > div .introduceSelf:nth-child(2) {
  padding-left: 20%;
  border-left: 1px solid #333;
  padding-top: 18%;
}
.second > div .introduceSelf p {
  word-spacing: -0.5ch;
  line-height: 2.083333333333333vw;
}
h1 span {
  color: #f00;
}
a *:hover {
  color: #777;
}
h2 {
  font-size: 1.875vw;
  font-weight: normal;
}
