.second > div
  width (1000/1920) * 100vw
  .introduceSelf
    box-sizing border-box
    width 50%
    float left
    &:first-child
      padding-left 8%
    &:nth-child(2)
      padding-left 5%
      border-left 1px solid #333
    p
      word-spacing: -.5ch
      line-height: (35/1920)*100vw
h1 span
  color red
a
  *
    &:hover
      color #777