#portfolioModal.clickObject
  .modalHandle
    .modalBar
      .titleIntroduceSelf 행렬계산기
        #portfolioModalClose2.xi-close.modalBarIcon.closeModal
    #portfolioModalClose.xi-close.closeModal
    .xi-checkbox-blank.FullScreenModal
    .xi-minus.minifyModal
  .modalInterface
    .modalInterfaceIcon.xi-backspace
    .modalInterfaceIcon.xi-backspace.reverseObject
    input.modalInterfaceDirLocate(
      type="text",
      value="C:\\Users\\user\\Desktop\\자기소개"
    )
    iframe
